#APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=https://panel.domain.com
APP_INSTALLED=false
APP_LOCALE=en
APP_NAME=NovaPanel
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=NovaPanel
DB_USERNAME=NovaPanel
DB_PASSWORD=Password

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log

STRIPE_KEY=pk_test_xxxxx
STRIPE_SECRET=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=